.banner {
    margin: 10px 0;
}

.main {
    display: flex;
    min-height: 35em;
}

.main .category {
    height: 100px;
    width: 25%;
}
.main .category .category-title{
    font-weight: 700;
    
}
.right{
    width: 75%;
}
.main .product {
    
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}
.product-title{
    font-weight: 600;
    font-size: 1.5em;
    margin-left: 30px;
}
.product .product-item {
    width: calc((100% / 3) - 30px);
    margin-left: 30px;
    margin-bottom: 15px;
    border-radius: 2px;
    box-shadow: 0 10px 10px #e6e7e8;
    border-radius: 10px;
    
}

.product .product-item a {
    text-decoration: none;
    
}

.product .product-item img{
    border-radius: 10px 10px;
    transition: 1s;
}
.product .product-item img:hover{
    transform: scale(90%);
    box-shadow: 0px 10px 10px gray;
}
.product .product-item .product-item-name{
    font-weight: 500;
    margin-left: 5px;
}
.product .product-item .product-item-price{
    color: red;
    margin-left: 5px;
    cursor: pointer;
    font-weight: 500;
}
.product .product-item .product-item-price::after{
    content: 'đ';
    color: red;
}
#finding-product{
    width: 100px;
    padding: 5px 0;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 30%;
    font-weight: 500;
    transition: 0.5s;
}
#finding-product:hover{
    background-color: rgb(255, 170, 0);
    color: black;
    box-shadow: 5px 10px 18px gray;
}
/* .color input[type="checkbox"] {
    background-color: red;
    width: 10px;
    height: 10px;
    appearance: none;
} */